# Configuration de l'API GTFS-RT Alerts
ALERTS_API_URL=https://api.stm.info/pub/gtfs-rt/v2/api/gtfsrt/alerts
# Modes: "Custom Header", "API Key (Header)", "Basic Auth (User/Pass)", "Aucune"
ALERTS_AUTH_MODE=Custom Header

# Pour le mode "Custom Header" (Exo, etc.)
ALERTS_CUSTOM_HEADER_NAME=Ocp-Apim-Subscription-Key
ALERTS_CUSTOM_HEADER_VALUE=votre_cle_ici

# Pour le mode "API Key (Header)" (STM, etc.)
ALERTS_API_KEY=

# Pour le mode "Basic Auth (User/Pass)"
ALERTS_USERNAME=
ALERTS_PASSWORD=

# Chemin du GTFS Statique (Interne au container si Docker)
GTFS_STATIC_DIR=/app/gtfs_static
